body {
  font-family: "Noto Sans", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 500;
  color:cyan;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
}  
/*iconos de las tablas*/
.icon{
  font-size: 100px;
  color: cyan;
}
/*cartas de mis trabajos mas recientes*/
.card{
  height: 100%;
  opacity: 80%;
}
/*texto de la carta*/
.card-text{
  font-family:'Raleway', sans-serif;
}
/*titulo de la  carta*/
.card-title{
  font-family:'Raleway', sans-serif;
}
/*carita feliz en el "acerca de mi"*/
.carita{
  color: red;
  font-size: larger;
}
/*pie de pagina*/
.footer{
  font-family: cursive;
}
/*pregunta en la caja de contacto*/
.pregunta{
  font-size: 20px;
  font-family: cursive;
}
/*respuesta en la caja de contacto*/
.respuesta{
  font-size: 13px;
  font-family: cursive;
}
/*titulo del formulario de mensajes*/
.contactame{
  color: cyan;
}