body {
  font-family: "Noto Sans", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 500;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
}  
/*iconos de las tablas*/
.icon{
  font-size: 100px;
  color: cyan;
}
/*cartas de mis trabajos mas recientes*/
.card{
  height: 100%;
  opacity: 80%;
}
.carita{
  color: red;
  font-size: larger;
}
.footer{
  font-family: cursive;
}
.pregunta{
  font-size: 20px;
  font-family: cursive;
}
.respuesta{
  font-size: 13px;
  font-family: cursive;
}